@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  margin: 0;
  padding: 0;
}

#root {
  background-image: url(https://images.pexels.com/photos/4386350/pexels-photo-4386350.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  min-height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.menu-navbar {
<<<<<<< HEAD
  padding-left: 10px;
  
=======
  padding-left: 15px;
>>>>>>> 7e09dcc0c7a3bff3d9919a6cbbf0c0fbd29186f7
}

a {
  color: rgb(128, 128, 128) !important;
  text-decoration: none !important;
  
}

h2 {
  text-align: center;
  padding-top: 10px;
  font-weight: 500 !important;
}

.home-page h2 {
  margin-top: 200px;
}

.logo {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

.market-logo {
  margin-top: 50px;
  display: flex;
  column-gap: 50px;
}
.market-logo img {
  width: 50%;
  height: 400px;
}

.add-new-product form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 30px;
}

.add-new-product-link {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  padding: 7px;
  font-size: 20px;
  
}

.products {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.products-card {
  width: 30%;
  margin-top: 60px;
}

.products-card img {
  object-fit: contain;
  height: 250px;
}

.add-new-product button {
  color: gray;
  background-color: white;
  border-color: gray;
  margin-top: 20px;
}

.add-new-product button:hover {
  color: white;
  background-color: #6c757d;
}

.contacts {
  /* background-color: rgb(240, 240, 240); */
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
  padding: 30px 0;
}

.contacts h4 {
  font-weight: 300;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-top: 30px;
}

.edit-products-page form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 30px;
}

.edit-products-page .MuiButton-root {
  color: gray;
  background-color: white;
  margin-top: 20px;
  width: 40%;
}

.edit-products-page .MuiButton-root:hover {
  background-color: #6c757d;
  color: white;
}

.info-about-company {
  margin-top: 50px;
}

.info-about-company h3,
p,
span,
ul,
h6 {
  margin: auto 40px;
}

.info-about-company p {
  margin-top: 30px;
}

.info-about-company h6 {
  color: crimson;
  margin-top: 35px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

span .MuiBadge-badge {
  background-color: lightcoral;
}

.filter-block {
  width: 200px;
}

.filter-block h5 {
  font-weight: 400;
  font-size: 20px;
}

.filter-block .MuiSlider-root {
  color: crimson;
}

.filter-block .MuiSlider-thumb {
  width: 15px;
  height: 15px;
}

@media all and (max-width: 795px) {
  .products-card {
    width: 45%;
  }
}

@media all and (max-width: 592px) {
  .products-card {
    width: 75%;
  }
  .products {
    justify-content: center;
  }
}

@media all and (max-width: 400px) {
  .products-card {
    width: 100%;
  }
}

@media all and (max-width: 932px) {
  .market-logo {
    display: flex;
    flex-direction: column;
  }
}

@media all and (max-width: 932px) {
  .market-logo img {
    height: 570px;
    width: 100%;
  }
}

@media all and (max-width: 819px) {
  .market-logo img {
    object-fit: contain;
    height: 500px;
    width: 100%;
  }
}

@media all and (max-width: 800px) {
  Table {
    width: 95%;
  }
}

@media all and(max-width: 1000px) {
  .info-about-company h3,
  span,
  ul,
  h6 {
    margin: auto 20px;
  }
}
